.bi.bi-trash:hover {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bi.bi-arrow-down-square,
.bi.bi-arrow-up-square {
  margin-left: 10px;
}
.bi.bi-arrow-up-square:hover,
.bi.bi-arrow-down-square:hover {
  cursor: pointer;
}
